.chat {
    height: 70vh;
    padding: 30px;

    &__container {
        display: flex;
        height: 100%;
    }

    &__messagesInput {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .chat {
        padding: 5px;
        height: 90vh;
        margin-top: -50px;

    }
}