.chat {
    height: 70vh;
    padding: 30px;
    
    &__container {
        display: flex;
        height: 100%;
    }

    &__messagesInput {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
    }
}