.inputComponent {
    width: 100%;
    padding: 20px;
    display: flex;
    height:  100px;
    align-items: center;

    &__input {
        width: 100%;
    }

    &__send {
        display: flex;
    }

    &__icon {
        width: 30px;
        height: 30px;
    }

    .button {
        height: 100%;
    }
}