.addProduct__price-container {
    position: relative;
    &__price{
        max-width: 200px;
        width: 100px;
        background-color: red;
    }

    & > p {
position: absolute;  
top: 50%;
transform: translate(0, -50%);
right: 10px;
font-size: 20px;
  }
}