@import "react-alice-carousel/lib/scss/alice-carousel.scss";
.input{
    width: 100%;
    padding: 10px;
    background-color:rgb(242, 244, 245);
    border:#002F34 2px solid;
    border-bottom: 4px #002F34 solid;
    border-right: 4px #002F34 solid;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 20px;

    &::placeholder {
        font-size: 20px;
    }

    // &:focus {
    //     // outline: 0;
    // } 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.maxContent {
    width: max-content;
}

.title {
    text-align: center;
    font-size: 32px;
    color: #000;
    font-weight: bold;
    margin: 0 auto;
  }

.title-h2 {
    font-size: 21px;
    color: rgb(0, 47, 52);
    font-weight: bold;
  }

label {
    font-size: 16px;
    margin: 30px 0 20px 0;
    color: rgb(0, 47, 52);
}

.red {
    color: red;
}

.relative {
    position: relative;
}

.button {
    cursor: pointer;
    border-radius: 10px;
    background-color: #002F34;
    color: white;
    font-weight: bold;

    border: 2px solid #002F34;
    border-right: 4px solid #002F34;
    border-bottom: 4px solid #002F34;

    padding: 10px 15px;
    transition: all .5s ease;

    &:hover {
        background-color: white;
        color: #000;
        transform: scale(1.05);
    }
}
