.productPages {
    background-color: #F2F4F5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__container {
        display: flex;
        gap: 30px;

    }
}

@media screen and (max-width: 680px) {
    .productPages {
        padding: 0;
        gap: 10px;

        &__container {
            gap: 5px;

        }
    }
}

@media screen and (max-width: 500px) {
    .productPages__container {
        display: block;
    }
}