.product {
  // flex: 1 0 22%;
  margin: 1%;
  padding: 10px;

  width: 266px;
  box-sizing: border-box;
  height: 350px;


  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;

  transition: transform 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &__img {
    width: 244px;
    height: 190px;
    border-radius: 8px;
    object-fit: fill;
  }

  &__info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__infoTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__price {
    font-size: 16px;
    font-weight: bold;
    color: #2ecc71;
    margin: 10px 0;
    text-align: start;
  }

  &__place-data {
    font-size: 14px;
    color: #777;
    text-align: start;

    p {
      margin: 3px;
    }
  }
}

@media screen and (max-width: 800px) {
  .product {
    width: 200px;
    height: 300px;

    &__img {
      width: 180px;
      height: 170px;
    }

    &__info {}

    &__infoTitle {
      font-size: 16px;
    }

    &__price {
      font-size: 14px;
    }

    &__place-data {
      font-size: 12px;

      p {}
    }
  }
}

@media screen and (max-width: 440px) {
  .product {
    width: 180px;
    height: 250px;
    padding: 10px;

    &__img {
      width: 160px;
      height: 120px;
    }

    &__info {
      margin-top: 8px;

    }

    &__infoTitle {
      font-size: 16px;
      margin-bottom: 5px;
    }

    &__price {
      font-size: 14px;
    }

    &__place-data {
      font-size: 12px;

      p {}
    }
  }
}