.search {
    margin-top: 50px;
    height: 100p;
    padding-top:50px ;

    &__location-icon{
        position: absolute;
        margin: 0 auto;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .search__item-container {
            display: flex;
            gap: 3px;
        }
    }

    
    button {
        width: 120px;
        height: 60px;
        
        background-color: #002F34;
        color: #fff;
        font-size: 17px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        padding: 10px 20px;
        font-weight: 600;

    }
}