.search {
    margin-top: 50px;
    // height: 100p;0px
    padding-top: 50px;

    &__location-icon {
        position: absolute;
        margin: 0 auto;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .search__item-container {
            display: flex;
            gap: 3px;
        }
    }

    &__container {
        display: flex;
        gap: 20px;
        padding: 20px;

        p {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            font-size: 26px;
        }
    }

    &__button_search {
        display: flex;
        gap: 5px;
        align-items: center;

        svg {
            stroke-width: 50px;
        }
    }

    &__price {
        max-width: 25%;
    }

}

@media screen and (max-width: 650px) {
    .search {
        padding-bottom: 30px;

        &__location-icon {}

        form {


            .search__item-container {}
        }

        &__container_price {

            flex-wrap: wrap;

            max-height: 80px;

            p {
                font-size: 16px;
            }
        }

        &__container {
            gap: 7px;
            padding: 5px;
        }

        &__price {
            min-width: 135px;
            font-size: 16px;
        }

        &__sorted {
            min-width: 188px;
            margin: 0 auto;
            align-self: center;
        }

    }
}